
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Coverage reports
coverage.xml
htmlcov/

# Test results
*.log

# Python packaging
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
